<?xml version="1.0"?>
<config>
    <modules>
        <Coobus_Checkout>
            <version>0.1.0</version>
        </Coobus_Checkout>
    </modules>
    <global>
        <blocks>
            <coobus_checkout><class>Coobus_Checkout_Block</class></coobus_checkout>
        </blocks>
        <models>
            <coobus_checkout>
                <class>Coobus_Checkout_Model</class>
                <resourceModel>coobus_checkout_mysql4</resourceModel>
            </coobus_checkout>
        	<sales>
        		<rewrite>
        			<quote>Coobus_Checkout_Model_Sales_Quote</quote>
        		</rewrite>
        	</sales>
        	<checkout>
        		<rewrite>
        			<cart>Coobus_Checkout_Model_Checkout_Cart</cart>
        			<session>Coobus_Checkout_Model_Session</session>
        		</rewrite>
        	</checkout>
        </models>
		<helpers>
             <coobus_checkout>
                <class>Coobus_Checkout_Helper</class>
             </coobus_checkout>
        </helpers>
        <events>
        	<sales_quote_save_before>
    		    <observers>
                    <coobus_checkout_quote1>
                        <type>singleton</type>
                        <class>Coobus_Checkout_Model_QuoteObserver</class>
                        <method>beforeSave</method>
                    </coobus_checkout_quote1>
				</observers>  
        	</sales_quote_save_before>
        </events>
        <resources>
            <coobus_checkout_setup>
                <setup>
                    <module>Coobus_Checkout</module>
                    <class>Coobus_Checkout_Model_Mysql4_Setup</class>
                </setup>
            </coobus_checkout_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
					<modules>
                    	<coobus_checkout before="Mage_Checkout">Coobus_Checkout</coobus_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Coobus_Checkout>
                     <files>
                          <default>Coobus_Checkout.csv</default>
                     </files>
                </Coobus_Checkout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <coobus_checkout>
                        <file>coobus_checkout.xml</file>
                  </coobus_checkout>
             </updates>
        </layout>
    </frontend>
</config>
