<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <Beeapps_Tax>
            <version>0.0.1</version>
            <depends>
                <Mage_Adminhtml />
                <Mage_Core />
                <Mage_Tax />
            </depends>
        </Beeapps_Tax>
    </modules>
	<global>
		<blocks>
		            <!--beeapps_tax>
			            	<class>Beeapps_Tax_Block</class>
		            </beeapps_tax-->
			<!--adminhtml>
			            	<rewrite>
			            		<catalog_product_grid>Beeapps_Tax_Block_Adminhtml_Products_Grid</catalog_product_grid>
			            	</rewrite>
				<rewrite>
			              	<widget_grid_column>Coobus_Catalog_Block_Widget_Grid_Column</widget_grid_column>
				              <catalog_product>Coobus_Catalog_Block_Adminhtml_Catalog_Product</catalog_product>
				              <catalog_product_edit_tabs>Coobus_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
			            	</rewrite>
    			</adminhtml-->
    			<!--catalog>
			            <rewrite>
				              <product_list>Coobus_Catalog_Block_Product_List</product_list>
				              <navigation>Coobus_Catalog_Block_Category_Navigation</navigation>
			            	</rewrite>
   			</catalog-->
       		   	<!--rewrite>
			            <coobus_catalog_catalog_product_export_csv>
	              		  <from><![CDATA[#^/admin/catalog_product/((exportCsv.*))/$#]]></from>
			                <to>/coobus_catalog/adminhtml_catalog_product/${1}/</to>
			            </coobus_catalog_catalog_product_export_csv>
			            <coobus_catalog_catalog_product_export_xml>
			                <from><![CDATA[#^/admin/catalog_product/((exportXml.*))/$#]]></from>
			                <to>/coobus_catalog/adminhtml_catalog_product/${1}/</to>
			            </coobus_catalog_catalog_product_export_xml>
			            <coobus_catalog_catalog_product>
			                <from><![CDATA[#^/admin/catalog_product/((massProd.*))/$#]]></from>
			                <to>/coobus_catalog/adminhtml_catalog_product/${1}/</to>
			            </coobus_catalog_catalog_product>
		        	</rewrite-->
		</blocks>
		<helpers>
			 <beeapps_tax>
				<class>Beeapps_Tax_Helper</class>
			 </beeapps_tax>
		</helpers>
		<models>
			<beeapps_tax>
			    <class>Beeapps_Tax_Model</class>
		    </beeapps_tax>
            <tax>
            	<rewrite>
            		<Class>Beeapps_Tax_Model_Class</class>
					<calculation>Beeapps_Tax_Model_Calculation</calculation>
            	</rewrite>
            </tax>

			<!--catalog>
		        		<rewrite>
				            <convert_adapter_category>Coobus_Catalog_Model_Convert_Adapter_Category</convert_adapter_category>
				            <convert_adapter_product>Coobus_Catalog_Model_Convert_Adapter_Product</convert_adapter_product>
				            <url>Coobus_Catalog_Model_Url</url>
				</rewrite>
	      		</catalog-->
	      		<!--core>
	      			<rewrite>
	      				<convert>Coobus_Catalog_Model_Convert</convert>
	      			</rewrite>
	      		</core-->
		  	<!--catalog_resource_eav_mysql4>
		  		<rewrite>
		  			<url>Coobus_Catalog_Model_Resource_Eav_Mysql4_Url</url>
		  		</rewrite>
		  	</catalog_resource_eav_mysql4-->
		</models>
		<resources>
            			<beeapps_tax_setup>
                			<setup>
                    				<module>Beeapps_Tax</module>
                    				<class>Mage_Eav_Model_Entity_Setup</class>
                			</setup>
			              <connection>
			                    <use>core_setup</use>
			             </connection>
		            </beeapps_tax_setup>
		</resources>
		<events>	
			<beeapps_tax_get_final_price>
                			<observers>
                    				<beeapps_tax_1>
                        					<type>singleton</type>
                        					<class>Beeapps_Tax_Helper_Observer</class>
                        					<method>processFrontFinalPrice</method>
                    				</beeapps_tax_1>
                			</observers>
            			</beeapps_tax_get_final_price>
    		</events>
		<layout>
            <updates>
               	<beeapps_tax>
                	<file>beeapps_tax.xml</file>
        		</beeapps_tax>
        	</updates>
        </layout>
    </global>
	<admin>
		<routers>
            			<adminhtml>
                			<args>
                    				<modules>
                    					<beeapps_tax before="Mage_Adminhtml">Beeapps_Tax_Adminhtml</beeapps_tax>
                    				</modules>
                			</args>
            			</adminhtml>
        		</routers>
	</admin>
</config>