<?xml version="1.0"?>
<!--
/**
 * Coobus Consultoria de Processos
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   ACL
 * @package    Coobus_StoreManager
 * @copyright  Copyright (c) 2011 Coobus (http://www.coobus.com.br)
 * @author     Ricardo Custódio <ricardo@coobus.com.br>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Coobus_StoreManager>
            <version>0.2.0</version>
            <depends>
                <Mage_Admin />
            </depends>
        </Coobus_StoreManager>
    </modules>
    <global>
    	<blocks>
            <coobus_storemanager>
            	<class>Coobus_StoreManager_Block</class>
            </coobus_storemanager>
    		<adminhtml>
            	<rewrite>
            		<!--store_switcher>Coobus_StoreManager_Block_Admin_Store_Switcher</store_switcher>
            		<sales_shipment_grid>Coobus_StoreManager_Block_Admin_Sales_Shipment_Grid</sales_shipment_grid>
            		<sales_order_create_store_select>Coobus_StoreManager_Block_Admin_Sales_Order_Create_Store_Select</sales_order_create_store_select>
            		<tag_store_switcher>Coobus_StoreManager_Block_Admin_Tag_Store_Switcher</tag_store_switcher-->
			<sales_order_grid>Coobus_StoreManager_Block_Admin_Sales_Order_Grid</sales_order_grid>
            		<system_config_switcher>Coobus_StoreManager_Block_Admin_System_Config_Switcher</system_config_switcher>
            		<!--system_config_form>Coobus_StoreManager_Block_Admin_System_Config_Form</system_config_form-->
            		<catalog_category_tree>Coobus_StoreManager_Block_Admin_Catalog_Category_Tree</catalog_category_tree>
            		<catalog_category_edit_form>Coobus_StoreManager_Block_Admin_Catalog_Category_Edit_Form</catalog_category_edit_form>
					<catalog_product_edit_tab_websites>Coobus_StoreManager_Block_Admin_Catalog_Product_Edit_Tab_Websites</catalog_product_edit_tab_websites>
					<catalog_product_edit_tab_categories>Coobus_StoreManager_Block_Admin_Catalog_Product_Edit_Tab_Categories</catalog_product_edit_tab_categories>
					<catalog_product_edit_tabs>Coobus_StoreManager_Block_Admin_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
            	</rewrite>
    		</adminhtml>
    		<!--googlebase>
    			<rewrite>
					<adminhtml_store_switcher>Coobus_StoreManager_Block_GoogleBase_Store_Switcher</adminhtml_store_switcher>
    			</rewrite>
    		</googlebase-->
    		<!-- core>
    			<rewrite>
    				<store_switcher>Coobus_StoreManager_Block_Core_Store_Switcher</store_switcher>
    			</rewrite>
    		</core-->
    	</blocks>
        <resources>
            <coobus_storemanager_setup>
                <setup>
                    <module>Coobus_StoreManager</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </coobus_storemanager_setup>
        </resources>
    	
        <models>
			<coobus_storemanager_mysql4>
                <class>Coobus_StoreManager_Model_Mysql4</class>
                <entities>
                    <catalog_product_store><table>catalog_product_store</table></catalog_product_store>
                </entities>
            </coobus_storemanager_mysql4>

            <coobus_storemanager>
                <class>Coobus_StoreManager_Model</class>
				<resourceModel>coobus_storemanager_mysql4</resourceModel>
            </coobus_storemanager>
    	</models>
        <helpers>
            <coobus_storemanager>
                <class>Coobus_StoreManager_Helper</class>
            </coobus_storemanager>
            <adminhtml>
            	<rewrite>
            		<data>Coobus_StoreManager_Helper_Admin_Data</data>
            	</rewrite>
            </adminhtml>
        </helpers>
    </global>
	<global>
		<models>
    		<!--adminhtml>
            	<rewrite>
            		<system_store>Coobus_StoreManager_Model_Admin_System_Store</system_store>
            	</rewrite>
            </adminhtml-->
            <!-- core>
            	<rewrite>
            		<store>Coobus_StoreManager_Model_Core_Store</store>
            	</rewrite>
            </core-->
            <core_mysql4>
            	<rewrite>
					<website_collection>Coobus_StoreManager_Model_Core_Mysql4_Website_Collection</website_collection>
            		<store_collection>Coobus_StoreManager_Model_Core_Mysql4_Store_Collection</store_collection>
            		<store_group_collection>Coobus_StoreManager_Model_Core_Mysql4_Store_Group_Collection</store_group_collection>
            	</rewrite>
            </core_mysql4>
            <reports_mysql4>
            	<rewrite>
	            	<order_collection>Coobus_StoreManager_Model_Reports_Mysql4_Order_Collection</order_collection>
	            	<customer_collection>Coobus_StoreManager_Model_Reports_Mysql4_Customer_Collection</customer_collection>
	            	<product_collection>Coobus_StoreManager_Model_Reports_Mysql4_Product_Collection</product_collection>
            	</rewrite>
            </reports_mysql4>
            <catalogsearch_mysql4>
            	<rewrite>
	            	<query_collection>Coobus_StoreManager_Model_CatalogSearch_Mysql4_Query_Collection</query_collection>
	            	<fulltext_collection>Coobus_StoreManager_Model_CatalogSearch_Mysql4_Fulltext_Collection</fulltext_collection>
            	</rewrite>
            </catalogsearch_mysql4>
            <catalog_resource_eav_mysql4>
            	<rewrite>
	            	<product_collection>Coobus_StoreManager_Model_Catalog_Resource_Eav_Mysql4_Product_Collection</product_collection>
	            	<product>Coobus_StoreManager_Model_Catalog_Resource_Eav_Mysql4_Product</product>
	            	<category_collection>Coobus_StoreManager_Model_Catalog_Resource_Eav_Mysql4_Category_Collection</category_collection>
            	</rewrite>
            </catalog_resource_eav_mysql4>
            <sales_mysql4>
            	<rewrite>
	            	<report_bestsellers_collection>Coobus_StoreManager_Model_Sales_Mysql4_Report_Bestsellers_Collection</report_bestsellers_collection>
	            	<order_grid_collection>Coobus_StoreManager_Model_Sales_Mysql4_Order_Grid_Collection</order_grid_collection>
            	</rewrite>
            </sales_mysql4>
            <catalog>
            	<rewrite>
            		<product>Coobus_StoreManager_Model_Catalog_Product</product>
            	</rewrite>
            </catalog>
    	</models>
    	<events>
    		<website_collection_load_after>
    		    <observers>
                    <coobus_storemanager_1>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>afterWebCollection</method>
                    </coobus_storemanager_1>
				</observers>   
    		</website_collection_load_after>
            <store_collection_load_before>
                <observers>
                    <coobus_storemanager_2>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_2>
                </observers>
            </store_collection_load_before>
            <website_collection_load_before>
                <observers>
                    <coobus_storemanager_3>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>setWebsiteCollection</method>
                    </coobus_storemanager_3>
                </observers>
            </website_collection_load_before>
            <store_group_collection_load_before>
                <observers>
                    <coobus_storemanager_4>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>setStoreGroupCollection</method>
                    </coobus_storemanager_4>
                </observers>
            </store_group_collection_load_before>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <coobus_storemanager_15>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Controller_Action</class>
                        <method>preDispatchStartFromAdmin</method>
                    </coobus_storemanager_15>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <controller_action_predispatch>
                <observers>
                    <coobus_storemanager_15>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Controller_Action</class>
                        <method>preDispatch</method>
                    </coobus_storemanager_15>
                </observers>
            </controller_action_predispatch>
            <sales_order_shipment_grid_collection_load_before>
                <observers>
                    <coobus_storemanager_16>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>joinShippingAmount</method>
                    </coobus_storemanager_16>
                </observers>
            </sales_order_shipment_grid_collection_load_before>
    	</events>
    	</global>
    	<adminhtml>
    	<events>
            <reports_order_collection_load_before>
                <observers>
                    <coobus_storemanager_5>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_5>
                </observers>
            </reports_order_collection_load_before>
            <catalogsearch_query_collection_load_before>
                <observers>
                    <coobus_storemanager_6>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_6>
                </observers>
            </catalogsearch_query_collection_load_before>
            <catalog_resource_eav_product_collection_load_before>
                <observers>
                    <coobus_storemanager_7>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_7>
                </observers>
            </catalog_resource_eav_product_collection_load_before>
            <sales_report_bestsellers_collection_load_before>
                <observers>
                    <coobus_storemanager_8>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_8>
                </observers>
            </sales_report_bestsellers_collection_load_before>
            <reports_customer_collection_load_before>
                <observers>
                    <coobus_storemanager_9>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_9>
                </observers>
            </reports_customer_collection_load_before>
            <reports_product_collection_load_before>
                <observers>
                    <coobus_storemanager_10>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_10>
                </observers>
            </reports_product_collection_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <coobus_storemanager_11>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStore</method>
                    </coobus_storemanager_11>
                </observers>
            </sales_order_grid_collection_load_before>
            <catalog_category_collection_load_before>
                <observers>
                    <coobus_storemanager_12>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>filterByStoreGroup</method>
                    </coobus_storemanager_12>
                </observers>
            </catalog_category_collection_load_before>
            <controller_action_predispatch_adminhtml_system_config_index>
                <observers>
                    <coobus_storemanager_13>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>redirectSystemConfigMenu</method>
                    </coobus_storemanager_13>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_index>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <coobus_storemanager_14>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Model_Admin_System_Config_Backend_Storecode</class>
                        <method>setStoreOnChange</method>
                    </coobus_storemanager_14>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            <controller_action_postdispatch_adminhtml_index_logout>
                <observers>
                    <coobus_storemanager_16>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Controller_Action</class>
                        <method>logout</method>
                    </coobus_storemanager_16>
                </observers>
            </controller_action_postdispatch_adminhtml_index_logout>
            <store_group_save>
                <observers>
                    <coobus_storemanager_17>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>storeGroupSave</method>
                    </coobus_storemanager_17>
                </observers>
            </store_group_save>
            <controller_action_postdispatch_adminhtml_sales_order_massStatus>
                <observers>
                    <coobus_storemanager_18>
                        <type>enabled</type>
                        <class>Coobus_StoreManager_Controller_Action</class>
                        <method>massStatusUpdate</method>
                    </coobus_storemanager_18>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_massStatus>
            <sales_order_grid_collection_load_before>
                <observers>
                    <coobus_storemanager_19>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>joinShippingAmount</method>
                    </coobus_storemanager_19>
                </observers>
            </sales_order_grid_collection_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <coobus_storemanager_20>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>joinInvoiceDate</method>
                    </coobus_storemanager_20>
                </observers>
            </sales_order_grid_collection_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <coobus_storemanager_21>
                        <type>singleton</type>
                        <class>Coobus_StoreManager_Helper_Observer</class>
                        <method>joinSharingInfo</method>
                    </coobus_storemanager_21>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </adminhtml>
	<adminhtml>
		<layout>
            <updates>
               <storemanager>
                  <file>storemanager.xml</file>
               </storemanager>
            </updates>
         </layout>
        <translate>
            <modules>
                <coobus_storemanager>
                    <files>
                        <default>Coobus_StoreManager.csv</default>
                    </files>
                </coobus_storemanager>
            </modules>
        </translate>
    </adminhtml>
	<admin>
	 <routers>
	   <adminhtml>
	     <args>
	       <modules>
	         <coobus_storemanager before="Mage_Adminhtml">Coobus_StoreManager</coobus_storemanager>
	       </modules>
	     </args>
	   </adminhtml>
	 </routers>
	</admin>
</config>