<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <Coobus_Catalog>
            <version>0.4.0</version>
            <depends>
                <Mage_Adminhtml />
                <Mage_Core />
                <Mage_Catalog />
                <Mage_CatalogSearch />
                <Mage_Sales />
                <Mage_Reports />
                <Coobus_Skin/>
                <Coobus_StoreManager/>
            </depends>
        </Coobus_Catalog>
    </modules>
	<global>
		<blocks>
            <coobus_catalog>
            	<class>Coobus_Catalog_Block</class>
            </coobus_catalog>
			<adminhtml>
	            	<!-- 
	            	<rewrite>
	            		<catalog_product_grid>Coobus_Catalog_Block_Adminhtml_Products_Grid</catalog_product_grid>
	            	</rewrite>
	            	-->
	            <rewrite>
	              <widget_grid_column>Coobus_Catalog_Block_Widget_Grid_Column</widget_grid_column>
	              <catalog_product>Coobus_Catalog_Block_Adminhtml_Catalog_Product</catalog_product>
	              <catalog_product_edit_tabs>Coobus_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
            	</rewrite>
    		</adminhtml>
    		<catalog>
	            <rewrite>
	              <product_list>Coobus_Catalog_Block_Product_List</product_list>
	              <navigation>Coobus_Catalog_Block_Category_Navigation</navigation>
            	</rewrite>
    		</catalog>
	        <rewrite>
	        <!-- @nelkaake -a 13/11/10: Added for Magento 1.4 compatibility -->
	            <coobus_catalog_catalog_product_export_csv>
	                <from><![CDATA[#^/admin/catalog_product/((exportCsv.*))/$#]]></from>
	                <to>/coobus_catalog/adminhtml_catalog_product/${1}/</to>
	            </coobus_catalog_catalog_product_export_csv>
	            <coobus_catalog_catalog_product_export_xml>
	                <from><![CDATA[#^/admin/catalog_product/((exportXml.*))/$#]]></from>
	                <to>/coobus_catalog/adminhtml_catalog_product/${1}/</to>
	            </coobus_catalog_catalog_product_export_xml>
	            <coobus_catalog_catalog_product>
	                <from><![CDATA[#^/admin/catalog_product/((massProd.*))/$#]]></from>
	                <to>/coobus_catalog/adminhtml_catalog_product/${1}/</to>
	            </coobus_catalog_catalog_product>
	        </rewrite>
        </blocks>
		<helpers>
             <coobus_catalog>
                <class>Coobus_Catalog_Helper</class>
             </coobus_catalog>
        </helpers>
		<models>
			<coobus_catalog>
                <class>Coobus_Catalog_Model</class>
        	</coobus_catalog>
	      <catalog>
	        <rewrite>
	            <convert_adapter_category>Coobus_Catalog_Model_Convert_Adapter_Category</convert_adapter_category>
	            <convert_adapter_product>Coobus_Catalog_Model_Convert_Adapter_Product</convert_adapter_product>
	            <url>Coobus_Catalog_Model_Url</url>
	        </rewrite>
	      </catalog>
	      <core>
	      	<rewrite>
	      		<convert>Coobus_Catalog_Model_Convert</convert>
	      	</rewrite>
	      </core>
		  <catalog_resource_eav_mysql4>
		  	<rewrite>
		  		<url>Coobus_Catalog_Model_Resource_Eav_Mysql4_Url</url>
		  	</rewrite>
		  </catalog_resource_eav_mysql4>
		</models>
		<resources>
            <coobus_catalog_setup>
                <setup>
                    <module>Coobus_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </coobus_catalog_setup>   
            
            <coobus_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </coobus_catalog_write>
            <coobus_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </coobus_catalog_read>    
	</resources>
	<events>	
            <catalog_product_get_final_price>
                <observers>
                    <coobus_catalog_1>
                        <type>singleton</type>
                        <class>Coobus_Catalog_Helper_Observer</class>
                        <method>processFrontFinalPrice</method>
                    </coobus_catalog_1>
                </observers>
            </catalog_product_get_final_price>
    	</events>
    	</global>
    <frontend>
        <routers>
            <coobus_catalog>
                <use>standard</use>
                <args>
                    <module>Coobus_Catalog</module>
                    <frontName>destaques</frontName>
                </args>
            </coobus_catalog>
        </routers>
        <layout>
            <updates>
                <coobus_catalog>
                    <file>coobus_catalog.xml</file>
                </coobus_catalog>
            </updates>
        </layout>
        <translate>
            <modules>
                <coobus_catalog>
                    <files>
                        <default>Coobus_Catalog.csv</default>
                    </files>
                </coobus_catalog>
            </modules>
        </translate>
    </frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                    	<coobus_catalog before="Mage_Adminhtml">Coobus_Catalog_Adminhtml</coobus_catalog>
                   		<!--adminexample after="Mage_Adminhtml">Inchoo_AdminExample_Adminhtml</adminexample-->
                    </modules>
                </args>
            </adminhtml>
            <coobus_catalog>
                <!-- should be set to "admin" when overloading admin stuff (?) -->
                <use>admin</use>
                <args>
                    <module>Coobus_Catalog</module>
                    <!-- This is used when "catching" the rewrite above -->
                    <frontName>coobus_catalog</frontName>
                </args>
            </coobus_catalog>
        </routers>
	</admin>
	<adminhtml>
        <translate>
            <modules>
                <coobus_catalog>
                    <files>
                        <default>Coobus_Catalog.csv</default>
                    </files>
                </coobus_catalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <coobus_catalog>
                    <file>coobus_catalog.xml</file>
                </coobus_catalog>
            </updates>
        </layout>
	</adminhtml>
	<default>	
		<catalog>
			<allproducts>
				<product_sort_by>random</product_sort_by>
				<number_of_items>45</number_of_items>
				<number_of_items_per_row>5</number_of_items_per_row>
				<layout>two_columns_right</layout>
				<thumb_width>135</thumb_width>
				<thumb_ratio>4:3</thumb_ratio>
				<show_pager>1</show_pager>
			</allproducts>
			<featuredproducts>
				<heading>Produtos em Destaque</heading>
				<meta_title>Produtos em Destaque</meta_title>
				<meta_description>Conheça nossa coleção de produtos em destaque</meta_description>
				<meta_keywords>destaque, productos</meta_keywords>
				<product_sort_by>random</product_sort_by>
				<number_of_items>45</number_of_items>
				<number_of_items_per_row>5</number_of_items_per_row>
				<layout>two_columns_right</layout>
				<thumb_width>135</thumb_width>
				<thumb_ratio>4:3</thumb_ratio>
				<show_pager>1</show_pager>
			</featuredproducts>
			<newestproducts>
				<number_of_items>45</number_of_items>
				<number_of_items_per_row>5</number_of_items_per_row>
				<layout>two_columns_right</layout>
				<time_limit_in_days>7</time_limit_in_days>
				<thumb_width>135</thumb_width>
				<thumb_ratio>4:3</thumb_ratio>
			</newestproducts>
			<mostviewedproducts>
				<number_of_items>45</number_of_items>
				<number_of_items_per_row>5</number_of_items_per_row>
				<layout>two_columns_right</layout>
				<time_limit_in_days>7</time_limit_in_days>
				<thumb_width>135</thumb_width>
				<thumb_ratio>4:3</thumb_ratio>
			</mostviewedproducts>
			<mostsoldproducts>
				<product_sort_by>random</product_sort_by>
				<number_of_items>45</number_of_items>
				<number_of_items_per_row>5</number_of_items_per_row>
				<layout>two_columns_right</layout>
				<time_limit_in_days>7</time_limit_in_days>
				<thumb_width>135</thumb_width>
				<thumb_ratio>4:3</thumb_ratio>
			</mostsoldproducts>
            <management>
                <isenabled>1</isenabled>
                <exportprofile_csv>1</exportprofile_csv>
                <exportprofile_xml>1</exportprofile_xml>
                <!--showcolumns>categories,sku,created_at,attribute_set_id,thumbnail,name,price,qty,websites,status,type_id</showcolumns-->
                <showcolumns>sku,name,categories,attribute_set_id,type_id,price,qty,status,created_at,websites,thumbnail</showcolumns>
                <orderedcolumns>sku,name,categories,set_name,type,qty,price,status,created_at,websites,thumbnail</orderedcolumns>
                <truncatelongtextafter>60</truncatelongtextafter>
                <showurl>0</showurl>
                <showbydefault>1</showbydefault>
                <width>75</width>
                <height>75</height>
                <limit>20</limit>
                <page>1</page>
                <sort>id</sort>
                <dir>desc</dir>
            </management>
            <frontend>
            	<show_categories_by_store>1</show_categories_by_store>
            </frontend>
        </catalog>
	</default>
</config>